*{
  padding:0;
  margin:0;
}
body{
  width: 100%;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: space-around;
}
div{
  width: 100%;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(-45deg, #fc466b, #3f5efb);
  background-size: 400% 400%;
  overflow: hidden;
  animation: colorshift 5s ease infinite;
}
h1{
  color: white;
  font-family: Jost, sans-serif;
  font-size: 3rem;
  letter-spacing: 1rem;
  overflow: hidden;
  
}
@keyframes colorshift {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 175% 200%;
  }
  100%{
    background-position: 0% 50%;
  }
}